.white-background {
    background-color: white;
    min-height: 100vh;
width: 100%;
}

.disabled-button {
    background-color: #e0e0e0;
    color: #aaa;
    cursor: not-allowed;
}


#map {
    height: 400px;
    width: 600px;
}

.leaflet-container {
    cursor: crosshair !important;
}
